<main class="show-container">
  <div class="edit-path"><%= link_to '編集', edit_post_path(@post) %></div>
  <div class="image-box">
    <% if @post.image? %>
      <%= image_tag @post.image.url %>
    <% end %>
  </div>
  <div class="show-title">
    <h3>タイトル</h3>
    <p>おすすめ <%= @post.recommendation %></p>
  </div>
  <div><%= @post.title %></div>
  <div>
    <h3>あらすじ</h3>
    <p>あらすじ</p>
  </div>
  <div>
    <h3>内容</h3>
    <p><%= @post.content %></p>
  </div>
  <div class="post-destroy"><%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %></div>
</main>